$menu-width: 45%;  // TODO: Will be a set value based upon font-size
$hamburger-size: 2.5em;
$edge-padding: 10px;

nav {
    position: absolute;
    height: $navbar-height;
    width: 100%;
    background-color: $primary_color--norm;
    border-bottom: 1px solid $primary_color--light;
    padding: 0 $edge-padding;
    z-index: $index-2;
}

.logo {
    display: inline-block;
    font-size: $font--m;
    font-weight: 100;
    font-family: $secondary_font;
    color: $secondary_color--norm;
    line-height: $navbar-height;
}

.menu {
    background-color: $primary_color--norm;
    border-left: 5px solid $tertiary_color--norm;
    position: absolute;
    height: 100vh;
    width: $menu-width;
    top: 0;
    right: 0;
    z-index: $index-2;
    transition: all 0.1s ease-in;

    &__links:first-child {
        color: $secondary_color--light;
        margin-top: $navbar-height + 15px;
    }

    &__links {
        text-align: center;
        font-size: $font--m;
        font-weight: 400;
        color: $secondary_color--dark;
        margin: 35px 0;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    }

    &__links:hover > a {
        color: $secondary_color--light;
    }
}

.menu--hidden {
    right: -$menu-width;
}

.modal-background--menu {
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    width: (100% - $menu-width) !important;
}

.menu-toggle {
    display: inline-block;
    position: absolute;
    top: $navbar-height / 2;
    right: $edge-padding;
    height: $hamburger-size;
    width: $hamburger-size - ($hamburger-size * .25);
    transform: translate(-50%, -50%);
    z-index: $index-1;
    cursor: pointer;

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 10%;
        border-radius: 2px;
        width: 100%;
        background-color: $tertiary_color--norm;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease-in-out;
        text-shadow: -1px 1px 0 #000;
    }
    
    &__icon::before, &__icon::after {
        content: "";
        position: absolute;
        border-radius: 2px;
        height: 100%;
        width: 50%;
        background-color: $tertiary_color--norm;
        transition: all 0.2s ease-in-out;
        text-shadow: -1px 1px 2px #000;
    }
    
    &__icon::before {
        top: -300%;
        left: 0;
    }

    &__icon::after {
        bottom: -300%;
        right: 0;
    }
}

.menu-toggle--close {
    & > .menu-toggle__icon {
        transform: translate(-50%, -50%) rotatez(-45deg);
    }
    
    & > .menu-toggle__icon::before {
        top: -190%;
        left: 50%;
        transform: translatex(-50%) rotatez(90deg);
    }
    
    & > .menu-toggle__icon::after {
        bottom: -190%;
        right: 50%;
        transform: translatex(50%) rotatez(90deg);
    }
}

// * Media Queries

// Ipad portrait
@media (min-width: 768px) {
    nav {
        padding: 0 ($edge-padding * 3);
    }
    
    .logo {
        font-size: 2em;
    }

    .menu {
        border-left: 10px solid $secondary_color--dark;
        
        &__links {
            font-size: 2.2em;
            margin: 50px 0;
        }
    }

    .menu-toggle {
        right: ($edge-padding * 3);
    }
}

// Ipad landscape
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

// Desktop
@media (min-width: 1025px) {
    nav {
        padding: 0 ($edge-padding * 3);
    }
    
    .logo {
        font-size: 2em;
    }

    .menu {
        height: 100%;
        width: auto;
        border: none;
        margin: 0;
        top: 0;
        right: $edge-padding;

        &__links:first-child {
            margin-top: 0;
        }

        &__links {
            display: inline-block;
            line-height: $navbar-height;
            font-size: 1.8em;
            margin: 0 60px;
        }
    }

    .menu-toggle {
        display: none;
    }
}