.carousel {
    position: relative;
    height: 60%;
    width: 100%;
    // border: 1px solid red;

    // *May end up removing this
    &__shade {
        display: none;
        @include v-center;
        height: 100%;
        width: 10%;
        overflow: hidden;
        background: linear-gradient(90deg, rgba($primary_color--norm, 1) 0%, rgba($primary_color--norm, 0.5) 50%, rgba($primary_color--norm, 0) 100%);
        pointer-events: none;
        z-index: $index-3;
    }

    &__card {
        @include v-center;
        height: 90%;
        width: 60%;
        margin: 0 15px;
        border: 4px solid rgba($tertiary_color--norm, 0.6);
        overflow: hidden;
        // FIXME: Firefox lag
        filter: brightness(0.5);
        transition: all 0.3s linear;

        &--container {
            display: block;
            position: relative;
            height: 100%;
            width: 100%;

            & > img {
                @include center;
                height: 100%;
            }
        }
    }

    &__card.is-selected {
        // FIXME: Firefox lag
        filter: brightness(1.1);
        border-color: $tertiary_color--norm;
    }
}

// * Media Queries

// Ipad portrait
@media (min-width: 768px) and (max-width: 1024px) {
    .carousel {
        &__card {
            width: 50%;
            margin: 0 20px;
        }
    }
}

// Ipad landscape
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

// Desktop
@media (min-width: 1025px) {
    .carousel {
        height: 100%;
        width: 60%;
        float: right;
        padding-top: $navbar-height;
        z-index: $index-5;

        &__shade {
            display: block;
        }

        &__card {
            width: 35%;
            margin: 0 45px;
        }
    }
}