.carousel {
    position: relative;
    height: 100%;
    width: 100%;

    &__shade {
        position: absolute;
        height: 95%;
        width: 100%;
        background: linear-gradient(90deg, rgba(30,31,35,1) 0%, rgba(30,31,35,0) 10%, rgba(30,31,35,0) 90%, rgba(30,31,35,1) 100%);
        pointer-events: none;
        z-index: $index-2;
    }

    &__card {
        display: inline-block;
        height: 95%;
        width: 60%;
        margin: 0 15px;
        border-radius: 1px;
        overflow: hidden;

        & > img {
            // display: none;
            position: absolute;
            height: 100%;
            @include center;

            // position: fixed;
            // height: 376.75px;
            // left: 50%;
            // transform: translateX(-50%);
        }
    }
}