footer {
    display: block;
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 0;

    .social {
        display: flex;
        height: 100%;
        width: 20%;
        justify-content: space-evenly;
        align-items: center;
    }

    .social__links {
        display: inline-block;
        color: $secondary_color--dark;

        & > i {
            color: inherit;
            font-size: $font--m;
            font-size: 1.2em;
        }
    }

    .social__links:hover {
        cursor: pointer;
        color: $secondary_color--light;
        transition: all 0.1s ease-in-out;
    }
}