.info {
    display: block;
    position: relative;
    height: 40%;
    width: 100%;
    padding: 0 40px;
    padding-top: $navbar-height;
    background-color: $primary_color--norm;

    &__title {
        position: inherit;
        color: $tertiary_color--norm;
        line-height: 1.2em;
        padding-top: 30px;
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        transition: all 0.25s ease-in-out;
        max-height: 1000px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: keep-all;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    &__link::before {
        content: "";
        @include v-center;
        display: inline-block;
        height: 2px;
        width: 40px;
        left: -60px;
        background-color: $secondary_color--norm;
        transition: all 0.1s ease-in;
    }

    &__link {
        position: inherit;
        font-size: $font--m;
        color: $secondary_color--norm;
        letter-spacing: 0.07em;
        margin-left: 60px;
        transition: all 0.1s ease-in;
    }

    &__link:hover{
        color: $secondary_color--light;
    }

    &__index {
        display: block;
        position: absolute;
        bottom: -5%;
        right: 0;
        line-height: 0.5em;
        font-size: 10em;
        font-family: $tertiary_font;
        color: $secondary_color--dark;
        opacity: 0.2;
    }
}

// * Media Queries

// Ipad portrait
@media (min-width: 768px) {
    .info {
        display: block;
        position: relative;
        height: 40%;
        width: 100%;
        padding: 0 80px;
        padding-top: $navbar-height;

        &__title {
            font-size: $font--xxl;
        }

        &__link::before {
            height: 3px;
            width: 60px;
            left: -90px;
        }
    
        &__link {
            font-size: 2em;
            letter-spacing: 0.07em;
            margin-left: 90px;
        }
    
        &__index {
            bottom: -5%;
            right: 5%;
            line-height: 0.5em;
            font-size: 16em;
        }
    }
}

// Ipad landscape
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

// Desktop
@media (min-width: 1025px) {
    .info {
        display: inline-block;
        height: 100%;
        width: 40%;
        z-index: $index-4;

        &__title {
            @include center;
            top: 45%;
            font-size: 10em;
            font-weight: 100;
            width: 70%;
            padding-top: 0;
        }
    
        &__link {
            @include h-center;
            top: 65%;
            width: 70%;
            margin-left: 100px;
        }
    
        &__index {
            @include center;
            width: 70%;
            top: 80%;
            right: 0;
            line-height: 0.5em;
            font-size: 14em;
            // border: 1px solid;
            text-align: right;
        }
    }
}