.info {
    display: block;
    position: relative;
    height: 40%;
    width: 95%;
    padding-top: $navbar-height;
    background-color: $primary_color--norm;

    &__title {
        display: inline-block;
        position: inherit;
        color: $tertiary_color--norm;
        line-height: 1.2em;
        margin-top: 10%;
        margin-left: 6%;
        font-size: 3em;
        text-transform: uppercase;
        transition: all 0.25s ease-in-out;
        max-height: 1000px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: keep-all;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;

        // FIXME: Testing these values for phones that are NOT Razer 2
        // line-height: 1.1em;
        // font-size: 2.3em;
        letter-spacing: 0.06em;
    }

    &__link {
        display: inline-block;
        position: inherit;
        font-size: $font--m;
        font-size: 2.3em;
        color: $secondary_color--norm;
        letter-spacing: 0.07em;
        margin-left: 6%;
        transition: all 0.1s ease-in;
    }

    &__index {
        display: block;
        position: absolute;
        bottom: -5%;
        right: 0;
        line-height: 0.5em;
        font-size: 10em;
        font-family: $tertiary_font;
        color: $secondary_color--dark;
        opacity: 0.2;
        pointer-events: none;
    }
}

// * Media Queries
// Desktop
@media (min-width: 1025px) {
    .info {
        display: inline-block;
        height: 100%;
        width: 40%;
        z-index: $index-4;
        padding: 0;

        &__title {
            position: relative;
            margin-top: 45%;
            margin-left: 10%;
            font-size: 5em;
            font-weight: 100;
            letter-spacing: 0;
            text-shadow: 3px 4px 3px black;
        }
    
        &__link {
            position: relative;
            margin-top: 20px;
            margin-left: 10%;
            font-size: 2em;
        }
    
        &__index {
            position: relative;
            display: block;
            width: 100%;
            margin-top: 10px;
            bottom: auto;
            line-height: 0.4em;
            padding-right: 20%;
            text-align: right;
        }
    }
}