#modal-background {
    display: block;
    @include center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.8;
    z-index: $index-1;
}

// #modal-background__close-btn {
//     font-size: 3em;
//     position: absolute;
//     top: 50px;
//     right: 50px;
//     z-index: 600;
// }

.modal-background--hidden {
    opacity: 0 !important;
    pointer-events: none;
}

.about-modal--hidden {
    // display: none !important;
}

#about-modal {
    @include center;
    display: block;
    height: 100%;
    width: 100%;
    background-color: $primary_color--dark;
    overflow-x: hidden;
    z-index: $index-1;

    height: 80%;
    width: 85%;

    // height: 90%;
    // width: 95%;
    border: 3px solid #e1ca96;
    border-radius: 5px;

    & > header {
        position: relative;
        height: 65vh;
        background-color: #000;
        background-image: url("./../public/images/about_header_1.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        padding-top: 25vh;
        text-transform: uppercase;
        font-family: $primary_font;
        text-shadow: -2px 1px 2px black;
        z-index: $index-5;
        filter: brightness(1.1) saturate(1.5) contrast(110%);

        & > h1 {
            font-size: 5em;
            letter-spacing: 0.05em;
            font-weight: 100;
            font-family: 'Josefin Sans', sans-serif;
        }

        & > h2 {
            font-family: $primary_font;
            font-size: 1.8em;
            font-weight: 100;
            color: #999;
        }
    }

    & > header::before {
        @include center;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0.65;
        background-color: #000;
        z-index: -1;
    }
}

// FIXME: Make sure scrollbar is hidden in all browsers
#about-modal::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    opacity: 0;
}

.about-modal {
    &__container {
        display: block;
        position: relative;
        height: 70vh;
        border-bottom: 1px solid $primary_color--light;
        z-index: $index-5;
    }

    &__picture {
        display: block;
        position: absolute;
        top: -5%;
        right: 5%;
        height: 70%;
        width: 40%;
        background-color: $primary_color--light;
        outline: 3px solid $tertiary_color--norm;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        
        & > img {
            @include center;
            width: 100%;
        }
    }

    &__picture::after {
        content: "";
        display: block;
        @include center;
        height: 100%;
        width: 100%;
        opacity: 0.9;
        transition: opacity 0.6s ease-in-out;
        background-color: #000;
    }

    &__picture:hover {
        filter: brightness(1.1) saturate(1.8) contrast(115%);

        &::after {
            opacity: 0;
        }
    }

    &__textbox {
        display: block;
        position: absolute;
        top: 25%;
        width: 40%;
        left: 5%;
        text-transform: uppercase;
        text-align: center;

        & > h1 {
            font-size: 3.8em;
            font-family: 'Josefin Sans', sans-serif;
            margin-bottom: 10px;
        }

        & > h2 {
            font-family: $primary_font;
            font-size: 1.7em;
            font-weight: 100;
            margin-bottom: 5px;
            color: #999;
            text-shadow: -2px 1px 2px black;
        }

        & > h3 {
            text-transform: none;
            font-family: $primary_font;
            font-size: 1.1em;
            font-weight: 100;
            text-shadow: -2px 1px 2px black;
        }
    }
}

.about-modal__container:nth-child(odd) {
    & > .about-modal__picture {
        left: 5%;
    }

    & > .about-modal__textbox {
        left: auto;
        right: 5% !important;
    }
}