#modal-background {
    display: block;
    @include center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.8;
    z-index: $index-1;
}

.modal-background--hidden {
    opacity: 0 !important;
    pointer-events: none;
}

.about-modal--hidden {
    display: none !important;
}

#about-modal {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $primary_color--dark;
    overflow-x: hidden;
    z-index: $index-1;

    &__close-btn {
        opacity: 0.5;
        font-size: 2em;
        position: fixed;
        right: 0;
        padding: 15px 20px;
        color: #e1ca96;
        text-shadow: -2px 2px 1px black;
        z-index: $index-1;
    }

    &__close-btn:hover {
        opacity: 1;
        transition: opacity 0.1s ease-in-out;
    }

    & > header {
        position: relative;
        height: 35vh;
        background-color: #000;
        background-image: url("./../public/images/about_header_1.jpg");
        background-attachment: none;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        padding-top: 10vh;
        text-transform: uppercase;
        font-family: $primary_font;
        text-shadow: -2px 1px 2px black;
        z-index: $index-5;
        filter: brightness(1.1) saturate(1.5) contrast(110%);

        & > h1 {
            font-size: 2.5em;
            letter-spacing: 0.05em;
            font-weight: 100;
            font-family: 'Josefin Sans', sans-serif;
        }

        & > h2 {
            font-family: $primary_font;
            font-size: 1.25em;
            font-weight: 100;
            color: #999;
        }
    }

    & > header::before {
        @include center;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0.65;
        background-color: #000;
        z-index: -1;
    }
}

// FIXME: Make sure scrollbar is hidden in all browsers
#about-modal::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    opacity: 0;
}

.about-modal {
    &__container {
        display: block;
        position: relative;
        height: 65vh;
        border-bottom: 1px solid $primary_color--light;
        z-index: $index-5;
    }

    &__container:first-of-type > &__picture  {
        margin-top: -10%;
    }

    &__picture {
        display: block;
        position: relative;
        margin: 10% auto 0;
        height: 55%;
        width: 90%;
        background-color: $primary_color--light;
        outline: 3px solid $tertiary_color--norm;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        
        & > img {
            @include center;
            width: 100%;
        }
    }

    &__picture::after {
        content: "";
        display: block;
        @include center;
        height: 100%;
        width: 100%;
        opacity: 0.9;
        transition: opacity 0.6s ease-in-out;
        background-color: #000;
    }

    &__picture--show {
        filter: brightness(1.1) saturate(1.8) contrast(115%);

        &::after {
            opacity: 0;
        }
    }

    &__textbox {
        display: block;
        position: relative;
        margin: 10% auto 0;
        width: 90%;
        text-transform: uppercase;

        & > h1 {
            font-size: 2.3em;
            font-family: 'Josefin Sans', sans-serif;
            margin-bottom: 10px;
        }

        & > h2 {
            font-family: $primary_font;
            font-size: 1.2em;
            font-weight: 100;
            margin-bottom: 5px;
            color: #999;
            text-shadow: -2px 1px 2px black;
            width: 95%;
        }

        & > h3 {
            text-transform: none;
            font-family: $primary_font;
            font-size: 1em;
            font-weight: 100;
            text-shadow: -2px 1px 2px black;
            width: 95%;
        }
    }
}

// Desktop
@media (min-width: 1025px) {
    #about-modal {
        position: absolute;
        // top: 10%;
        // left: 7.5%;
        // height: 80%;
        // width: 85%;
        // border: 3px solid #e1ca96;
        // border-radius: 5px;

        height: 100%;
        width: 100%;
        
        &__close-btn {
            // right: auto;
            // margin-left: 85%;
            // transform: translateX(-100%);
        }

        & > header {
            height: 65vh;
            padding-top: 25vh;
            background-attachment: fixed;
            background-position-x: center;
            background-position-y: 0;
            background-size: 133%;
            background-repeat: no-repeat;

            & > h1 {
                font-size: 5em;
            }

            & > h2 {
                font-size: 1.8em;
            }
        }
    }

    .about-modal {
        &__container {
            height: 65vh;
        }

        &__container:first-of-type > &__picture  {
            margin-top: 0;
        }
    
        &__picture {
            display: block;
            position: absolute;
            top: -10%;
            right: 5%;
            height: 75%;
            width: 40%;
            margin: 0;
            
            & > img {
                @include center;
                width: 100%;
            }
        }
    
        &__textbox {
            position: absolute;
            top: 20%;
            left: 5%;
            width: 40%;
            margin: 0;
            text-align: center;
    
            & > h1 {
                font-size: 3.8em;
            }
    
            & > h2 {
                font-size: 1.7em;
            }
    
            & > h3 {
                font-size: 1.1em;
            }
        }
    }
    
    .about-modal__container:nth-child(even) {
        & > .about-modal__picture {
            left: 5%;
        }
    
        & > .about-modal__textbox {
            left: auto;
            right: 5% !important;
        }
    }
}