*, html, body, a, ul, li {
    color: inherit;
    text-decoration: none;
    list-style: none;
    font-family: inherit;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    font-family: $primary-font;
    background-color: $primary_color--norm;
    color: $secondary_color--norm;
}

// sizing of skeleton elements for mobile
.container {
    height: 100%;
    padding-top: $navbar-height;
}

.row {
    height: inherit;
}

.one-third {
    height: 40%;
}

.two-thirds {
    height: 60%;
}