@import url('https://fonts.googleapis.com/css?family=Pavanam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
    font-family: 'Ailerons';
    src: url("../../public/fonts/Ailerons-Typeface.otf") format('opentype');
}

@font-face {
    font-family: 'Florencesans';
    src: url("../../public/fonts/Florencesans.ttf") format('truetype');
}