// Good Color pallette
// https://coolors.co/75dddd-508991-172a3a-004346-09bc8a

// Main colors
// * Previously used pallette
$primary_color--light: #2F3031;
$primary_color--norm: #1b1c1d;
$primary_color--dark: #191A1B;

$secondary_color--light: #ffffff;
$secondary_color--norm: #F2F2F2;
$secondary_color--dark: #b4b5b7;

$tertiary_color--light: #E9D8B2;
$tertiary_color--norm: #e1ca96;
$tertiary_color--dark: #E0C076;

// $primary_color--norm: #1b1c1d;
// $secondary_color--norm: #ffffff;
// $tertiary_color--light: #b4b5b7;
// $tertiary_color--norm: #e1ca96;
// $tertiary_color--dark: #b4b5b7;

// $primary_color--norm: #eae7dc;
// $secondary_color--norm: #8e8d8a;
// $tertiary_color--light: #8e8d8a;
// $tertiary_color--norm: #d8c3a5;
// $tertiary_color--dark: #8e8d8a;

// $primary_color--norm: #FFFCF2;
// $secondary_color--norm: #252626;
// $tertiary_color--light: #203049;
// $tertiary_color--norm: #203049;
// $tertiary_color--dark: #203049;

// Font sizes
// TODO: Edit to be responsive
$font--xxs: 0.5em;
$font--xs: 0.8em;
$font--s: 1em;
$font--m: 1.5em;
$font--l: 3.5em;
$font--xl: 4em;
$font--xxl: 6em;

// Font names
$primary_font: 'Pavanam', sans-serif;
$secondary_font: 'Ailerons', sans-serif;
$tertiary_font: 'Florencesans', sans-serif;

// Default sizes
$navbar-height: 75px;

// Z-index priorities
$index-1: 500;
$index-2: 400;
$index-3: 300;
$index-4: 200;
$index-5: 100;