// Main colors
$primary_color--light: #232428;
$primary_color--norm: #1E1F23;
$primary_color--dark: #1C1D20;

$secondary_color--light: #ffffff;
$secondary_color--norm: #F2F2F2;
$secondary_color--dark: rgba(#F2F2F2, 0.3);

$tertiary_color--light: #DAA279;
$tertiary_color--norm: #D7996C;
$tertiary_color--dark: #D19468;

// Font sizes
// TODO: Edit to be responsive
$font--xxs: 0.5em;
$font--xs: 0.8em;
$font--s: 1em;
$font--m: 1.5em;
$font--l: 2em;
$font--xl: 4em;
$font--xxl: 6em;

// Font names
$primary_font: 'Pavanam', sans-serif;
$secondary_font: 'Ailerons', sans-serif;
$tertiary_font: 'Florencesans', sans-serif;

// Default sizes
$navbar-height: 75px;

// Z-index priorities
$index-1: 500;
$index-2: 400;
$index-3: 300;
$index-4: 200;
$index-5: 100;