// Good Color pallette
// https://coolors.co/75dddd-508991-172a3a-004346-09bc8a

// Main colors
// * Previously used pallette
$primary_color--light: #232428;
$primary_color--norm: #1E1F23;
$primary_color--dark: #1C1D20;

$secondary_color--light: #ffffff;
$secondary_color--norm: #F2F2F2;
$secondary_color--dark: rgba(#F2F2F2, 0.3);

$tertiary_color--light: #DAA279;
$tertiary_color--norm: #DD8D5A;
$tertiary_color--dark: #B07E59;

// $primary_color--norm: #1e2022;
// $secondary_color--norm: #c9d6df;
// $tertiary_color--norm: #52616b;

// $primary_color--norm: #303841;
// $secondary_color--norm: #eeeeee;
// $tertiary_color--light: #f6c90e;
// $tertiary_color--norm: #f6c90e;
// $tertiary_color--dark: #f6c90e;

// $primary_color--norm: #222831;
// $secondary_color--norm: #eeeeee;
// $tertiary_color--light: #d65a31;
// $tertiary_color--norm: #d65a31;
// $tertiary_color--dark: #d65a31;

// $primary_color--norm: #222831;
// $secondary_color--norm: #eeeeee;
// $tertiary_color--light: #393e46;
// $tertiary_color--norm: #393e46;
// $tertiary_color--dark: #393e46;

// $primary_color--norm: #313131;
// $secondary_color--norm: #525252;
// $tertiary_color--light: #ca3e47;
// $tertiary_color--norm: #ca3e47;
// $tertiary_color--dark: #ca3e47;

// $primary_color--norm: #252525;
// $secondary_color--norm: #414141;
// $tertiary_color--light: #ff0000;
// $tertiary_color--norm: #ff0000;
// $tertiary_color--dark: #ff0000;

// $primary_color--norm: #252525;
// $secondary_color--norm: #ff0000;
// $tertiary_color--light: #414141;
// $tertiary_color--norm: #414141;
// $tertiary_color--dark: #414141;

// $primary_color--norm: #2d2d2d;
// $secondary_color--norm: #ccd0d0;
// $tertiary_color--light: #ff0043;
// $tertiary_color--norm: #ff0043;
// $tertiary_color--dark: #ff0043;

// $primary_color--norm: #203049;
// $secondary_color--norm: #252626;
// $tertiary_color--light: #E67509;
// $tertiary_color--norm: #E67509;
// $tertiary_color--dark: #E67509;

// $primary_color--norm: #FFFCF2;
// $secondary_color--norm: #252626;
// $tertiary_color--light: #203049;
// $tertiary_color--norm: #203049;
// $tertiary_color--dark: #203049;

// $primary_color--norm: #2D3142;
// $secondary_color--norm: #4F5D75;
// $tertiary_color--light: #BFC0C0;
// $tertiary_color--norm: #BFC0C0;
// $tertiary_color--dark: #BFC0C0;

// $primary_color--norm: #2D3142;
// $secondary_color--norm: #BFC0C0;
// $tertiary_color--light: #EF8354;
// $tertiary_color--norm: #EF8354;
// $tertiary_color--dark: #EF8354;

// $primary_color--norm: #f6c90e;
// $secondary_color--norm: #2D3142;
// $tertiary_color--light: #4F5D75;
// $tertiary_color--norm: #4F5D75;
// $tertiary_color--dark: #4F5D75;

// $primary_color--norm: #f6c90e;
// $secondary_color--norm: #4F5D75;
// $tertiary_color--light: #2D3142;
// $tertiary_color--norm: #2D3142;
// $tertiary_color--dark: #2D3142;

// $primary_color--norm: #1B1B1E;
// $secondary_color--norm: #D8DBE2;
// $tertiary_color--light: #58A4B0;
// $tertiary_color--norm: #58A4B0;
// $tertiary_color--dark: #58A4B0;

// $primary_color--norm: #252626;
// $secondary_color--norm: #E5E5E5;
// $tertiary_color--light: #E5E5E5;
// $tertiary_color--norm: #FCA311;
// $tertiary_color--dark: #E5E5E5;

// $primary_color--norm: #FCA311;
// $secondary_color--norm: #E5E5E5;
// $tertiary_color--light: #E5E5E5;
// $tertiary_color--norm: #14213D;
// $tertiary_color--dark: #E5E5E5;

// $primary_color--norm: #eae7dc;
// $secondary_color--norm: #d8c3a5;
// $tertiary_color--light: #8e8d8a;
// $tertiary_color--norm: #8e8d8a;
// $tertiary_color--dark: #8e8d8a;

$primary_color--norm: #eae7dc;
$secondary_color--norm: #8e8d8a;
$tertiary_color--light: #8e8d8a;
$tertiary_color--norm: #d8c3a5;
$tertiary_color--dark: #8e8d8a;

// Font sizes
// TODO: Edit to be responsive
$font--xxs: 0.5em;
$font--xs: 0.8em;
$font--s: 1em;
$font--m: 1.5em;
$font--l: 3.5em;
$font--xl: 4em;
$font--xxl: 6em;

// Font names
$primary_font: 'Pavanam', sans-serif;
$secondary_font: 'Ailerons', sans-serif;
$tertiary_font: 'Florencesans', sans-serif;

// Default sizes
$navbar-height: 75px;

// Z-index priorities
$index-1: 500;
$index-2: 400;
$index-3: 300;
$index-4: 200;
$index-5: 100;